/*Letra fuente*/
* {
    font-family: 'Roboto', sans-serif;

}

.todo{
    padding: 0px;
    margin: 0px;
}

/*Cabecera de la pagina Home */

.logoCabecera{
    width: 100%;
}

.logoCabecera img {
    margin: 5%;
    width: 45%;
    float: right;
}


.letrasCabeceraCurvas * {
    float: right;
}

.letrasCabecera {
    margin-right: 0%;
    margin-top: 20%;
    width: 45%;
    float: left;
}

.letrasCurvas {
    width: 20%;
}


@media screen and (min-width:992px) {
    .logoCabecera-lg img {
        margin: 2%;
        width: 50%;
        float: none;
    }

    
.letrasCabecera-lg {
    margin-right: 0%;
    margin-top: 15%;
    width: 65%;
    float: none;
}


.menu-lg {
    margin-top: 5%;
}

}


/*menu */

.menu {
    width: 100%;
   padding-bottom: 5%;
}

.menu ul {
    list-style-type: none;
    
}


.menu li {
    float: left;
    text-align: center;
    padding-bottom: 2%;
}

.menu ul li a {
   
    text-decoration: none;
    font-weight: bolder;
    font-size: 1.6em;
    padding: 10px;
    
}


.menu li a:hover:not(.active) {
    background-color: #96c5de;
    border-radius: 4%;

}

.no-active {
    color: #004569;
}

.active{
    background-color: #004569;
    border-radius: 4%;
    color: white;
}





/* estilo de las cajas */

.titulo-cajas {
    text-align: center;
    font-size: 4em;
    font-weight: bolder;
    margin-bottom: 5%;
}

.contenedor-cajas {
    background-color: #A0D2EB;
    padding-bottom: 3%;
    margin-left: 0px;
}

.caja {

    margin-left: 1%;
    border: 10px solid white;
    border-radius: 80px;
    overflow-wrap:break-word;
    background-color: white;
    box-shadow: 5px 5px 5px black;
    margin-bottom: 5%;
}

.caja * {
    margin: 5%;
}
.caja img {
    width: 90%;
    border-radius: 50px;
   
    
}

.caja h3 {
    font-size: xx-large;
    font-weight: bold;
}

.caja p {
    font-size: x-large;
    padding: 1%;
}

/*Colores de fondo*/
/*Azul #4088b0*/
.azul_medio {
    background-color: #4088b0;
}

/*Azul claro #A0D2EB*/
.azul_claro {
    background-color: #A0D2EB;
}

/*Blanco*/
.blanco {
    background-color: white;
}

/*Azul oscuro #004D76*/
.azul_oscuro {
    background-color: #004D76;
}

/*Posición letra*/
/*Centro*/
.centrarLetra {
    text-align: center;
}

/*Color de la letra*/
.colorLetraBlanco {
    color: white;
}

/*Letra negrita*/
.negrita {
    font-weight: bold;
}


.container {
    position: relative;
}

/* Estilo personalizado para el botón */
.custom-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #30acec;
    color: white;
    height: 100px;
    width: 450px;
    border: none;
}
