

.fotos-contenedor {
    background-color: #A0D2EB;
    padding-bottom: 5%;
    padding-top: 1%;
}

.fotos-contenedor div a  img {
    width: 100%;
    margin-top: 10%;
    
}

.fila {
    background-color: white;
    /*He cambiado el margen de 10 a 5% para que no se vea tan separado del título*/
    margin: 5%;
    padding: 5%;
}
@media screen and (min-width:768px){
.zoom {
    transition: transform .2s; 
}
 
.zoom:hover {
    transform: scale(1.5); 
}
}