/*Sección de descarga de la aplicación y título*/
/*Utilizado para que el botón quede en el centro*/
.container {
    position: relative;
}

/* Estilo personalizado para el botón */
.custom-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #30acec;
    color: white;
    height: 100px;
    width: 450px;
    border: none;
    font-size: xx-large;
}

/*Cuando se pulsa cambia de color*/
.custom-button:active {
    background-color: #004D76;
    
}

/*Imágenes/Vídeos*/
.imgPortada {
    width: 100%;
}

.textoPortada {
    color: white;
    text-align: center;
    background-color: #004D76;
}



/* estilo de las cajas barrios*/

.titulo-cajas {
    text-align: center;
    font-size: 4em;
    font-weight: bolder;
    margin-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

.contenedor-cajas {
    background-color: #A0D2EB;
    padding-bottom: 3%;
    margin-left: 0px;
}

.caja {
    margin-left: 1%;
    border: 10px solid white;
    border-radius: 80px;
    overflow-wrap: break-word; /*para que no sobresalga el texto de la caja al redimensionar*/
    background-color: white;
    box-shadow: 5px 5px 5px black; /*sombras para las cajas*/
    margin-bottom: 5%;
    height: 97%;
}

.caja * {
    margin: 5%;
}

.caja img {
    width: 90%;
    border-radius: 50px;
}

.caja h3 {
    font-size: xx-large;
    font-weight: bold;
}

.caja p {
    font-size: x-large;
    padding: 1%;
}


/*De la versión de tablet para abajo aumenta la imagen para que se vea mejor*/
@media (max-width: 768px) {
    .imgPortada {
        width: 150%;
    }

    .custom-button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #30acec;
        color: white;
        height: 70px;
        width: 300px;
        border: none;
    }
}