

/*Colores de fondo*/
/*Azul #4088b0*/
.azul_medio {
    background-color: #4088b0;
}


/*Blanco*/
.blanco {
    background-color: white;
}

/*Azul oscuro #004D76*/
.azul_oscuro {
    background-color: #004D76;
}

/*Posición letra*/
/*Centro*/
.centrarLetra {
    text-align: center;
}

/*Color de la letra*/
.colorLetraBlanco {
    color: white;
}





.titulo-videos {
    text-align: center;
    font-size: 4em;
    font-weight: bolder;
    padding-left: 5%;
    padding-right: 5%;
}

.recuadroContacto {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 3%;
    padding-right: 10%;
    border-radius: 10px;
    background-color: #ffffff;
}

.formulario h1 {
    color: #3A91CB;
    font-size: 4em;
    font-weight: bolder;
}

.formulario h3 {
    color: #3A91CB;
    font-size: 1.7em;
    font-weight: bolder;
}

.divInput {
    margin-bottom: 2.5%;
}

.recuadros_input {
    width: 90%;
    height: 50px;
    font-size: 24px;
    border-color: #156BB9;
    border-width: 5px;
}

.letraRadio {
    color: #3A91CB;
    font-size: 24px;
}

.mensaje_input {
    width: 90%;
    height: 230px;
    font-size: 24px;
    border-color: #156BB9;
    border-width: 5px;
}

/* Oculta el input original */
.input-file-container input[type="file"] {
    display: none;
}

/* Estilo para el botón personalizado */
.input-file-container .custom-file-input {
    background-color: #ffffff;
    color: #679FC4;
    border: 1px solid #156BB9;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 27px;
}

/* Cambia el color del botón al pasar el mouse sobre él */
.input-file-container .custom-file-input:hover {
    background-color: #0a5494;
    color: rgb(255, 255, 255);
}


.buttonEnviar {
    background-color: #156BB9;
    height: 50px;
    width: 120px;
    color: rgb(255, 255, 255);
    border-style: hidden;
    font-size: 30px;

}

.form-check-inline .form-check-input {
    margin-top: 12px;
    /* Corrige el espaciado superior */
    margin-right: 0.3em;
    /* Agrega un pequeño espacio entre el checkbox y la etiqueta */
}

.form-check-label {
    font-size: 27px;
    color: #3A91CB;
}



/*Cursos*/
.caja table {
    table-layout: fixed;
    width: 90%;
}

.caja table * {
    word-wrap: break-word;
    text-align: center;
}

.tabla-cabecera {
    text-align: center;
    font-weight: bolder;
}

.tabla-dia {
    font-weight: bolder;
}


.tabla-claro {
    background-color: #A0D2EB;
    color: black;
}

.tabla-oscuro {
    background-color: #004569;
    color: white;
}


.tabla-claro-opaciti {
    background-color: rgba(160, 210, 235, 0.5);
    color: black;
}

.tabla-oscuro-opaciti {
    background-color: rgba(0, 69, 105, 0.5);
    color: white;
}


/*Fotos*/
.fotos-contenedor {
    background-color: #A0D2EB;
    padding-bottom: 5%;
    padding-top: 1%;
}

.fotos-contenedor div a img {
    width: 100%;
    margin-top: 10%;

}

.fila {
    background-color: white;
    margin: 10%;
    padding: 5%;
}

@media screen and (min-width:768px) {
    .zoom {
        transition: transform .2s;
    }

    .zoom:hover {
        transform: scale(1.5);
    }
}